{% extends "./Base.html" %}

{% block title %} INICIO {% endblock %}

{% block body %}
{% load static %}
<section class="zona1">
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner ">
            <!-- Primera img -->
            <div class="carousel-item active" data-bs-interval="2000">
                <a href="Noticias.html"><img src="{% static 'img/google.png' %}"class="active" alt="..."> 
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>¡Guerra en ucrania!</h5>
                    <p>¡Toca la imagen para ver mas!</p>
                </div>
            </div>
            <!-- Segunda img -->
            <div class="carousel-item " data-bs-interval="2000">
                <a href="Noticias.html"><img src="{% static 'img/google.png' %}" class="active" alt="..."></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>¡Google vuelca todos sus productos hacia la IA; Bard!</h5>
                    <p>¡Toca la imagen para ver mas!</p>
                </div>
            </div>
            <!-- Tercera img -->
            <div class="carousel-item " data-bs-interval="2000">
                <a href="Noticias.html"><img src="{% static 'img/redbullS.avif' %}" class="active" alt="..."></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>¡GP de Miami 2023 | Max Verstappen gana la carrera seguido de Checo Pérez y Fernando Alonso!</h5>
                    <p>¡Toca la imagen para ver mas!</p>
                </div>
            </div>
        </div>
</section>

<h1>PAGINA PRINCIPAL</h1>
{% endblock %}