{% extends "./Base.html" %}
{% load static %}
{% block title %} NOSOTROS {% endblock %}

{% block body %}
    <p>&nbsp;</p>
    <div>
        <h3>¿QUIÉNES SOMOS?</h3>
            <P>Somos una editorial digital local que busca  cubrir de la mejor forma posible las 
                noticias que están pasando en Chile y el mundo con una mirada fresca y joven.</P>
    </div>

    <div>
        <h3>MISIÓN</h3>
            <p>Nuestra misión es ofrecer información objetiva y actualizada a nuestros lectores,
            brindando cobertura imparcial de noticias y eventos relevantes. Nos comprometemos a 
            promover la transparencia y el acceso a la información en beneficio de la sociedad.
            </p>
            <p>&nbsp;</p>
        <h3>VISIÓN</h3>
            <p>Nuestra visión es convertirnos en el referente principal de noticias confiables 
            y veraces, fomentando el pensamiento crítico y la participación ciudadana. Aspiramos 
            a ser reconocidos por nuestra excelencia periodística y por promover un mundo informado y empoderado.</p>
            <p>&nbsp;</p>
        <h3>EQUIPO</h3>
            <div>
                <img src="{% static '/img/periodista.avif' %}" alt="" width="110" height="100">
                <div>
                    <h4>Gabriela Antúnez</h4>
                </div>
                <img src="{% static '/img/periodista-hombre.avif' %}" alt="" width="110" height="100">
                <div>
                    <h4>Benjamín Escarate</h4>
                </div>
                <p>&nbsp;</p>
            </div>
    </div>

{% endblock %}