{% extends "./Base.html" %}
{% load static %}
{% block title %} NOSOTROS {% endblock %}

{% block body %}
    <div>
        <h1>NOSOTROS</h1>
    </div>

    <div>
        <h3>MISIÓN</h3>
            <p>Nuestra misión es ofrecer información objetiva y actualizada a nuestros lectores,
            brindando cobertura imparcial de noticias y eventos relevantes. Nos comprometemos a 
            promover la transparencia y el acceso a la información en beneficio de la sociedad.
            </p>
            <p>&nbsp;</p>
        <h3>VISIÓN</h3>
            <p>Nuestra visión es convertirnos en el referente principal de noticias confiables 
            y veraces, fomentando el pensamiento crítico y la participación ciudadana. Aspiramos 
            a ser reconocidos por nuestra excelencia periodística y por promover un mundo informado y empoderado.</p>
            <p>&nbsp;</p>
        <h3>EQUIPO</h3>
            <div>
                <img src="" alt="">
                <div>
                    <p>Gabriela Antúnez</p>
                </div>
                <img src="" alt="">
                <div>
                    <p>Benjamín Escarate</p>
                </div>
            </div>
    </div>

{% endblock %}