{% extends "./Base.html" %}
{% load static %}
{% block title %} NOTICIAS {% endblock %}

{% block body %}
    <div>
        <h1>Noticias!</h1>
    </div>
    <div>
        <a href="{% url 'gestionoti' %}"></a>
    </div>
    <div>
        <div class="row">
            {% for not in Noticias %}

                <div class="bloque-color">
                    <p>
                        {{not.Noticias}}
                    </p>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}