{% extends "../base.html" %}
{% block title %} Gestión de Artículo {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            {% if messages %}
            {% for message in messages %}
            <div class="">
                <strong class="">{{ message }}</strong>
            </div>
            {% endfor %}
            {% endif %}
            
            <h1>Listado de Noticias</h1>
            <div class="">
                <a href="{% url 'nuevanoti' %}" class="">Agregar Noticia</a>
              </div>

            <div class="">
                <table class="">
                    <thead>
                        <tr>
                            <th>CODIGO</th>
                            <th>AUTOR</th>
                            <th>NOMBRE</th>
                            <th>FECHA</th>
                            <th>CONTENIDO</th>
                            <th>IMG</th>
                            <th colspan="6">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cur in cursos %}
                        <tr>
                            <td>{{cur.codigo}}</td>
                            <td>{{cur.nombre}}</td>
                            <td>{{cur.sence}}</td>
                            <td>{{cur.idArea}}</td>
                            <td>{{cur.modalidad}}</td>
                            <td>{{cur.horas}}</td>
                            <td><img src="{{cur.img.url}}" alt="" width="50px"></td>
                            <td><a href="editarcur/{{cur.codigo}}" class="btn btn-primary">Editar </a></td>
                            <td><a href="borrarcur/{{cur.codigo}}" class="btn btn-danger btnEliminacion">Eliminar</a></td> 
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}