*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #1a0000,#530000, #d80000);
    height: 100vh;
    overflow:visible;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
  }
/*
nav{
  display: block;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  width: 75vw;
  max-width: 1000px;
  min-width: 320px;
}*/

.menu{
  list-style: none;
  padding: 0;
  background-color: #000000;
  font-weight: bold;
  width: 90%;
  max-width: 1000px;
  margin-left: 5%;
  line-height: 80px;
}

.menu li a{
  text-decoration:none;
  padding: 0px 20px;
  display: block;
  margin-right: 5%;
}

.menu li{
  display:inline-block;
  text-align: center;
}

h1{
  font-size: 45px;
  text-align: center;
  margin: 50% 0px;
}

a{
  text-decoration: none;
}

.menu li a:hover{
  color: rgb(255, 0, 98);
}

.brand img{
  width: 85px;
  height: 85px;
  width: 100%;
}
