*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(60,60,60);
    height: 100vh;
    overflow:visible;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
  }

.menu{
  list-style: none;
  padding: 0;
  background-color: #000000;
  font-weight: bold;
  width: 90%;
  max-width: 1000px;
  margin-left: 5%;
  line-height: 80px;
}

.menu li a{
  text-decoration:none;
  padding: 0px 20px;
  display: block;
  margin-right: 5%;
}

.menu li{
  display:inline-block;
  text-align: center;
}

.menu li a:hover{
  color: rgb(255, 0, 98);
}

h1{
  font-size: 45px;
  text-align: center;
  margin: 50% 0px;
}

a{
  text-decoration: none;
}

.brand img{
  width: 85px;
  height: 85px;
  width: 100%;
}

img {
  width: 50%;
}

.center-img {
  display: flex;
  justify-content: center;
}