<!--  I N D E X -->
{% extends "../Base.html" %}

{% block title %} Gestión | Noticias {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            {% if messages %}
                {% for message in messages %}
                    <div class="">
                        <strong class="">{{ message }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            
            <h1>Listado de Noticias</h1>
            <div class="">
                <a href="{% url 'nuevanoti' %}" class="btn btn-primary">Agregar Noticia</a>
              </div>

            <div class="table-responsive py-3">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID Area</th>
                            <th>CODIGO</th>
                            <th>AUTOR</th>
                            <th>NOMBRE</th>
                            <th>FECHA</th>
                            <th>CONTENIDO</th>
                            <th>IMG</th>
                            <th colspan="4">Opciones</th> 
                            <th></th>                           
                        </tr>
                    </thead>
                    <tbody>
                        {% for not in Noticiass %}
                            <tr>
                                <td>{{not.idArea}}</td>
                                <td>{{not.codigo}}</td>
                                <td>{{not.autor}}</td>
                                <td>{{not.nombre}}</td>
                                <td>{{not.fecha}}</td>
                                <td>{{not.contenido}}</td>                        
                                <td><img src="{{not.img.url}}" alt="" width="50px"></td>
                                <td><a href="{% url 'editarnoti' not.codigo %}" class="btn btn-primary">Editar</a></td>
                                <td>|</td>
                                <td><a href="{% url 'eliminoti' not.codigo %}" class="btn btn-danger btnEliminacion">Borrar</a></td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}