{% extends "../Base.html" %}

{% block title %} Gestión | Usuarios {% endblock %}
{% load static %}
{% block content %}
  <div class="row">
    <div class="col-sm-12">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}

      <h1>Lista de Usuarios</h1>
      <div class="">
        <a href="{% url 'nuevousuario' %}" class="btn btn-primary">Agregar Usuario</a>
      </div>

      <div class="table-responsive py-3">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Email</th>
              <th>Img</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for perfil in perfiles %}
              <tr>
                <td>{{ perfil.user.id }}</td>
                <td>{{ perfil.user.username }}</td>
                <td>{{ perfil.user.email }}</td>
                <td>
                  {% if perfil.img %}
                    <img src="{{ perfil.img.url }}" alt="">
                  {% else %}
                    <img src="{% static 'img/default_profile.jpg' %}" alt="">
                  {% endif %}
                </td>
                <td>
                  <a href="{% url 'editarusuario' perfil.user.id %}" class="btn btn-primary">Editar</a>
                  <a href="{% url 'elimiusuario' perfil.user.id %}" class="btn btn-danger">Eliminar</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}