<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/css1.css">
    <title>Formulario Inicio Sesión CSS</title>
    <link rel="stylesheet" href="/css/mystyles.css">
  </head>
  
  <body>
    <header>
        <a href="#" class="logo"> CAOS NEW</a>
        <nav>
            <ul class="menu">
              <li><a href="0.html">INICIO</a></li>
              <li><a href="#">NOSOTROS</a></li>
              <li><a href="#">CONTACTANOS</a></li>
              <li><a href="formulario.html">REGISTRATE</a></li>
            </ul>
        </nav>
      </header>



    <div class="center">
      <h1>Login</h1>
      <form method="post">
        <div class="txt_field">
          <label>Nombre Usuario</label>
          <input type="text">
        </div>

        <div class="txt_field">
          <label for="userPassword">Contraseña</label>
          <input type="password">         
        </div>

        <input type="submit" value="Iniciar Sesión">

        <div class="link_Ayuda">
          Olvido Contraseña? <a href="#">Clic Aquí</a>
        </div>

        <div class="link_Ayuda">
          No Tiene Cuenta? <a href="#">Registrar</a>
        </div>

      </form>
    </div>
    
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript">
      window.addEventListener("scroll",function(){
      var header = document.querySelector("header");
      header.classList.toggle("abajo",window.scrollY>0);
      })
    </script>

  </body>
</html>
